<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngFor="let order of orders">
      <ion-card-header color="primary">
        {{ order.offerTitle }}
        </ion-card-header>
      <ion-card-subtitle>{{
        order.createdDate | date: "dd.MM.yyyy HH:mm"
      }}</ion-card-subtitle>
      <ion-card-content>{{ order.authorUserName }}</ion-card-content>
      <div class="buttons">
        <ion-item>
          <div *ngIf="doneAble">
            <ion-fab-button
              (click)="setToDone(order.id)"
              size="small"
              color="primary"
              ><i class="fa fa-check"></i
            ></ion-fab-button>
          </div>
          <div>
            <ion-fab-button
              (click)="startChat(order.authorUserName)"
              size="small"
              color="primary"
              ><i class="fa fa-envelope"></i></ion-fab-button
            >
          </div>
          <div>
            <ion-fab-button
              (click)="goToOfferDetails(order.offerId)"
              size="small"
              color="primary"
              ><i class="fa fa-info-circle"></i></ion-fab-button
            >
          </div>
        </ion-item>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="presentActionSheet()">Wyświetlane zamówienia</ion-button>
  </ion-toolbar>
</ion-footer>
