.ion-icon{
    text-align: center;
}

img {
    padding: 3%;
    border-radius: 25px;
}

.deleteButton {
    float: right;
}

.pos {
    background-color: #47d147;
    color: white;
}

.neg {
    background-color: #ff1a1a;
    color: white;
}
    
    
