<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Twój profil</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="loading">
  <h3>Ładowanie</h3>
</div>

<ion-content color="primary" *ngIf="!loading">
  <ion-item>
    <ion-avatar>
      <img src="{{user.profileImage}}" />
    </ion-avatar>
    <ion-label>{{user.userName}}</ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>Opis:</ion-card-header>
    <ion-card-content>{{user.description}}</ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>email:</ion-label>
    <ion-label>{{user.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>numer telefonu:</ion-label>
    <ion-label>{{user.telephoneNumber}}</ion-label>
  </ion-item>
  <ion-list>
    <div *ngIf="isOwner">
      <ion-item text-center>
        <ion-button
          (click)="openProfileDataeditor();"
          slot="start"
          size="medium"
          >Edytuj</ion-button
        >
      </ion-item>
    </div>
  </ion-list>
</ion-content>
